.footer {
  padding: 3rem 0;
  background: $bg-color-2;
  font-size: 1.4rem;
  color: $text-footer-color;
  border-top: 0.1rem solid $border-color;

  &__logo-box {
    padding-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: $text-color;
  }

  &__info {
    display: block;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__list {
    list-style: none;
    padding-inline-start: 0;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      transition: all 0.2s;
      text-transform: uppercase;
      text-decoration: none;
      color: $text-color;
    }

    &:hover,
    &:active {
      color: $color-primary-blue;
    }
  }

  &__copyright {
    font-size: 1.3rem;
  }

  &__list,
  &__copyright {
    text-align: center;
  }
}
