@keyframes flashed {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
.loader {
  color: $color-primary-blue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: flashed 1s infinite alternate;
  text-align: center;
}
