.header {
  width: 100%;

  background: $bg-color-2;
  border-bottom: 1px solid $border-color;

  &__content {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    color: $text-color;
  }

  &__logo {

    padding: 1em;

    &-one {
      position: absolute;
    }
    &-two{

    }
  }

  &__navigation {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      padding: 0;
      list-style: none;

      li {
        a {
          transition: 0.3s ease all;
          padding: 0.75rem 1.25rem;
          text-decoration: none;
          color: inherit;

          &:hover,
          &.active {
            color: $color-primary-blue;
          }
        }
      }
    }
  }
}
