// todo continue styling
@import './src/styles/base/variables';

.team {
  &__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    background-color: $bg-color-2;
    border: 1px solid $border-color;
    padding: 2.5rem 2rem 2rem;
  }

  &__link {
    &:link,
    &:visited {
    //  nothing so far
    }

    &:hover .team__image {
        transform: translateY(-0.2rem);
        box-shadow: 0 10px 10px rgba(131, 131, 131, 0.56);
      }
  }

  &__login {
    display: block;
    text-align: center;
  }

  &__image {
    border-radius: 50%;
    width: 15rem;
    overflow: hidden;
    transition: .1s;
    box-shadow: 0 5px 10px rgba(131, 131, 131, 0.6);
  }

  &__login {
    margin-top: 1.5rem;
  }

  &__button {
    color: $color-primary-blue;
    border: 1px solid $color-primary-blue;
    //color: $bg-color;
    margin-top: 2rem;
    //background-color: #9f9c9c;
    padding: 1rem;
    border-radius: 2rem;
    transition: .2s;

    &:hover {
      background-color: $color-primary-blue;
      color: $bg-color;
    }
  }

  &__more-info {
    padding: 1rem;
  }
}
