// COLORS

$bg-color: #fff;
$bg-color-2: #f8fafd;
$border-color: #eff2f5;
$text-color: #000;
$text-footer-color: #777;
$color-primary-blue: #3861fb;
$bg-footer-color: #333;

// GRID
$grid-width: 114rem;

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
$Poppins: "Poppins", sans-serif;